@model CoreMVCApp.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                Male
                @*@Html.RadioButtonFor(model=>model.Gender,"Male")*@
                <input type="radio" id="Gender" name="Gender" value="Male" />
                Female
                @*@Html.RadioButtonFor(model=>model.Gender,"Female")*@
                <input type="radio" id="Gender" name="Gender" value="Female" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ethnicity" class="control-label"></label>
                @if (Model.Ethnicity != null)
                {
                    for (var i = 0; i < Model.Ethnicity.Count(); i++)
                    {
                        <input type="checkbox" asp-for="@Model.Ethnicity[i].IsChecked" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model.Ethnicity[i].IsChecked">
                            @Model.Ethnicity[i].LabelName
                        </label>
                        <input type="hidden" asp-for="@Model.Ethnicity[i].Id"/>
                        <input type="hidden" asp-for="@Model.Ethnicity[i].LabelName"  />
                        <br/>
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobId" class="control-label"></label>
                <input asp-for="JobId" class="form-control" />
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerId" class="control-label"></label>
                <input asp-for="ManagerId" class="form-control" />
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                @*<input asp-for="DepartmentId" class="form-control" />*@
                <select asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Departments,"DepartmentId","DepartmentName",Model.DepartmentId))"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            //$("select#CategoryTypeId").change(function () {
            //    var cid = $(this).val();

            //    $("select#SubCategoryTypeId").empty();

            //    $.getJSON(`/Home/GetSubCategory?cid=${cid}`, function (data) {
            //        //console.log(data);
            //        $.each(data, function (i, item) {
            //            $("select#SubCategoryTypeId").append(`<option value="${item.id}">${item.name}</option>`);
            //        });
            //    });
            //})
            $(document).ready(function () {
                alert("");
            });
        });
    </script>
}
